#area {
    font-family:'Courier New', Courier, monospace;
    color: 196295;
}
.img {
   text-align: center;
}
.form-submit-button {
	background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 40px;
	width: 80px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
}
